body {
    background-color: rgb(246,247,246);
}
.meta-black{
	background-color: rgb(39,40,34);
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	color: white;
	padding-right: 6px;
}
#yo{	
	border: 3px solid;
	border-color: rgb(77,191,217);
	background-color: white;
}
#informacion-basica{	
	border: 3px solid;
	border-color: yellow;
	background-color: white;
}
#experiencia{	
	border: 3px solid;
	border-color: rgb(188,86,121);
	background-color: white;
}