body {
    background-color: rgb(240,240,240);
    margin-bottom: 60px;
}
/*NAV BAR------------------------------*/
#nav-imgUsuario-Nombre{
  margin-top: 5px;
}
/*termina NAV BAR----------------------*/
#contenedor-principal{
	margin-top: 52px;
}
/* menu -------------------- */
#menu{
	max-width: 70px;
	background-color: rgb(39,40,34);
        height:100%;
        position: absolute;
        min-height: 750px;
}
/* / menu --------------------*/
/* mini-news-feed*/
#contenedor-iconos{
	margin-top: 50px;
}
#mini-news-feed{
	margin-left: 70px;
}
#icon-white-menu-mn{
	color: white;
	margin-right: 13px;
	margin-top: 50px;
}
#icon-white-menu-mn:hover{
	color: white;
	zoom:110%;
}
#icon-white-menu{
	color: white;
	margin-right: 15px;
	margin-top: 80px;
}
#icon-white-menu:hover{
	color: white;
	zoom:110%;
}
#principal{
    margin-left: 90px;
} 
.tituloNF{
    background-color: rgb(65,133,245);
    font-size: 16px;
    font-weight: bold;
}
.tituloP{
    background-color: rgb(140,196,116);
    font-size: 16px;
    font-weight: bold;
}
.tituloM{
    background-color: rgb(251,203,67);
    font-size: 16px;
    font-weight: bold;
}
.tituloA{
    background-color: rgb(228,111,97);
    font-size: 16px;
    font-weight: bold;
}
.tituloO{
    background-color: rgb(188,86,121);
    font-size: 16px;
    font-weight: bold;
}
.popover-up{
    margin-top: 100px;
}
.titulo{
    font-size: 58px;
}
#contenedor-principal-geekoonn{
    max-height: 750px;
    min-height: 750px;
    -moz-box-shadow: 0 0 4px 4px #888;
    -webkit-box-shadow: 0 0 4px 4px #888;
    -o-shadow: 0 0 4px 4px #888;
    box-shadow: 0 0 4px 4px #888;
    margin-top: 30px;
    position: static;
}
#contenedorOpiniones{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    margin-top: 25px;
    overflow-y:scroll;
    max-height: 700px;
    min-height: 700px;
}
#contenedorMiniNewsFeed{
    max-height: 750px;
    min-height: 750px;
    -moz-box-shadow: 0 0 4px 4px #888;
    -webkit-box-shadow: 0 0 4px 4px #888;
    -o-shadow: 0 0 4px 4px #888;
    box-shadow: 0 0 4px 4px #888;
    background-color: rgba(39,40,34,0.1);
    margin-top: 30px;
    position: static;
    overflow-y: scroll;
}
.publicacion{
    border:1px solid;
    border-color: black;
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
}
.publicacion:hover{
    border:1px solid;
    border-color: rgb(0,140,241);
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;
}
.mpublicacion{
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    background-color: white;
    padding-right:10px;
    margin-left: 1px;
}
.mpublicacion:hover{
    border:1px solid;
    border-color: rgb(0,140,241);
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;
    background-color: white;
    padding-right:10px;
    margin-left: 1px;
}
.border-bottom{
    border-bottom: 2px solid;
    border-bottom-color: #888;
}
#recuperarOpiniones{
    margin-top: 15px;
}
/* / mini-news-feed*/