body {
    background-color: rgb(240,240,240);
    padding-top: 50px;
    margin-bottom: 60px;
}
/*NAV BAR------------------------------*/
#a-iniciar-sesion{
 color: white;
 margin-top: 5px;
}
#a-iniciar-sesion:hover{
 color: rgb(0,134,228);
}

.tituloGeekOnn{
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 2px solid;
    border-color: black;
    padding-bottom: 90px;
}
.bloque-izquierdo-uno{
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
	background-color: white;
        min-height: 600px;
        max-height: 600px;
        height: 600px;
        margin-top: 8px;
}
.bloque-izquierdo-dos{
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
        -o-border-radius:15px 15px 15px 15px;
	background-color: white;
        min-height: 600px;
        height: 600px;
        margin-top: 8px;
}
#onOff{
    z-index: 1;
}
.divG{
  z-index:100;
}
#geekonn{
    z-index: 100;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.8);
    -ms-transform:rotate(8deg);
    -webkit-transform:rotate(8deg);
    -o-transform:rotate(8deg);
    -moz-transform:rotate(8deg); -moz-transform:skewx(25deg) translatex(150px);
    position: absolute;
}
.meta-black{
	background-color: rgb(39,40,34);
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	color: white;
	padding-right: 2px;
}
.contenddor-contorno1{
        border-right: 2px solid;
        border-bottom: 2px solid;
	border-color: rgb(0,140,241);
        background-color:white;
}
.contenddor-contorno2{
        border-bottom: 2px solid;
        border-left: 2px solid;
	border-color: rgb(81,163,81);
        background-color:white;
}
#descripcion{
	font-size: 25px;
}
#descripcion-2{
	font-size: 20px;
}
.publicacion{
    margin-top: 10px;
    border:1px solid;
    border-color: black;
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
}
.publicacion:hover{
    margin-top: 10px;
    border:1px solid;
    border-color: rgb(0,140,241);
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;
}
#contenedor5noticias{
    overflow-y: scroll;
    max-height: 365px;
    padding-left: 5px;
}
.fb-like-box{
    margin-left: 15px;
}
.google{
    padding-left: 75px;
    margin-left: 60px;
    margin-top: 80px;
}
.twitter{
    margin-top: 80px;
}
/* / bloque izquierdo*/