body {
	padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(246,247,246);
}
/*NAV BAR------------------------------*/
#a-iniciar-sesion{
 color: white;
 margin-top: 5px;
}
#a-iniciar-sesion:hover{
 color: rgb(0,134,228);
}
/*termina NAV BAR----------------------*/

/*primer bloque a la derecha*/
#bloque-derecho{
	margin-top: 150px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	background-color: white;
}
#descripcion{
	font-size: 25px;
}
#descripcion-2{
	font-size: 20px;
}
/* /bloque a la derecha */
/*bloque izquierdo*/
#bloque-izquierdo-uno{
	margin-top: 25px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	background-color: white;
}
#bloque-izquierdo-dos{
	margin-top: 40px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	background-color: white;
}
/* / bloque izquierdo*/