body {
	padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(246,247,246);
}
/*NAV BAR------------------------------*/
.sidebar-nav {
	padding: 9px 0;
}
#a-iniciar-sesion{
 color: white;
 margin-top: 5px;
}
#a-iniciar-sesion:hover{
 color: rgb(0,134,228);
}
/*NAV BAR------------------------------*/
.container-fluid{

}
#form-input-space{
	padding-top: 5px;
}