.menu-perfil{
    margin-top: 80px;
}
.menu-perfil:hover{
    margin-top: 80px;
    zoom:110%
}
.iconos-menu-perfil:hover{
    border-bottom: 3px solid;
    border-color: rgb(215,215,215);
}
#recibidor-ajax-perfil{
    margin-bottom: 50px;
}
.foto-perfil-2{
    height: 193px;
}
.biografia-perfil{
    height: 73px;
}
.meta-titulo{
    margin-top: 20px;
    font-size: 22px;
    border-bottom: 2px solid;
    border-color: rgb(215,215,215);
}
.fondo-info{
    background-color: rgb(250,250,250);
}
#yo{	
	margin-top: 20px;
        font-size: 22px;
        border-bottom: 4px solid;
	border-color: rgb(77,191,217);
}
#informacion-basica{	
	margin-top: 20px;
        font-size: 22px;
        border-bottom: 4px solid;
        border-color: yellow;
}
#experiencia{	
	margin-top: 20px;
        font-size: 22px;
        border-bottom: 4px solid;
	border-color: rgb(188,86,121);
}
#filosofia{	
	margin-top: 20px;
        font-size: 22px;
        border-bottom: 4px solid;
	border-color: rgb(228,111,97);
}
#contacto{	
	margin-top: 20px;
        font-size: 22px;
        border-bottom: 4px solid;
	border-color: rgb(140,196,116);
}
/*.separador-info{
    border-bottom: 4px solid;
    border-color: rgb(230,230,230);
}*/