body {
   background-color: rgb(243,243,243);
}
.top{
    margin-top: 20px;
}
.publicacion{
	background-color: rgb(252,252,252);
	border-bottom: 2px solid;
	border-color: rgb(215,215,215);
}
.publicacion:hover{
	background-color: rgb(252,252,252);
	border: 2px solid;
	border-color: rgb(220,220,220);
}
#contenedor-recibidor-publicacion-sesion{
    height: 800px;
    min-height: 800px;
    max-height: 800px;  
    background-color: white;
    border: 2px solid;  
    border-color: rgb(220,220,220);
    overflow: hidden;
}
#contenedor-descripcion-publicacion{
    max-height: 300px;
    overflow-y: scroll;
}
#contenedor-comentarios{
    margin-top: 15px;
    height: 210px;
    max-height: 210px;
    overflow-y: scroll;
    background-color: rgb(252,252,252);
}
#contenedor-nuevo-comentario{
    height: 200px;
    max-height: 210px;
    background-color: rgb(252,252,252);
}
